{% extends 'base.html.twig' %}

{% block title 'Panterest' %}

{% block body %}

	{% if pins|length > 0 %}

		<h1 class="mb-3 text-center text-muted">{{ pluralize(pins|length, 'Pin')}}</h1>
		{% for row  in pins|batch(3) %}
			<div class="row mb-5">

				{% for pin in row %}
					<div class="col-md-4">
						<article class="pin bg-white rounded shadow">
							<div class="mw-100 rounded-top overflow-hidden">

								<a href="{{ path('pins_show', {id: pin.id})}}">
									<img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/images/placeholder.png')) | imagine_filter('squared_thumbnail_medium') }}" alt="{{ pin.title }}" class="w-100 rounded-top">
								</a>
							</div>
							<h2 class="ps-3 pt-3 h5">
								<a href="{{ path('pins_show', {id: pin.id})}}" class="text-secondary text-decoration-none">{{pin.title}}</a>
							</h2>

							<p class="pl-3 pb-3 text-muted">
								<small>
									Submitted by
									{{ pin.user.fullName}}
								</small>
							</p>


							{# <a href="#" onclick="event.preventDefault(); confirm('Are you sure') && document.getElementById('js-pin-delete-form-{{pin.id}}').submit();" class="m-3 btn btn-danger ">&times; Delete
														</a>
														<form id="js-pin-delete-form-{{pin.id}}" action="{{ path('pins_delete', {id:pin.id})}}" method="post" style="display:none;">
															<input type="hidden" name="csrf_token" value="{{csrf_token('pin' ~ pin.id)}}">
															<input type="hidden" name="_method" value="DELETE">
							
														</form> #}
						</article>

					</div>


				{% endfor %}
			</div>
		{% endfor %}
	{% else %}

		<p class="h1 mt-5 text-center">No pins yet.
			<a href="{{path('pins_create')}}">Be the first!</a>
		</p>
	{% endif %}
{% endblock %}
